// Font families.
$ff: Arial, sans-serif;
$ff-title: Arial, sans-serif;

// Font sizes.
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;

// Font weights.
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Line heights.
$lh: 1.5;
$lh-title: 1.2;