// Breakpoints.
$xs: 375px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;

// Container width according to the breakpoints.
$container-md: 720px;
$container-lg: 950px;
$container-xl: 1200px;

$container-padding: 20px;