.container {
	width: 100%;
	max-width: 100%;
	padding: 0 $container-padding;
	margin: 0 auto;

	@media (min-width: $md) {
		max-width: $container-md
	}

	@media (min-width: $lg) {
		max-width: $container-lg
	}

	@media (min-width: $xl) {
		max-width: $container-xl
	}

	&-fluid {
		width: 100%;
		max-width: 100%;
		padding: 0 $container-padding
	}
}