h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0 0 1rem
}

h1, .h1 {
	font-size: 32px;

	@media (min-width: $lg) {
		font-size: 60px
	}
}

h2, .h2 {
	font-size: 24px;

	@media (min-width: $lg) {
		font-size: 32px
	}
}

h3, .h3 {
	font-size: 30px
}

h4, .h4 {
	font-size: $fs-xl;

	@media (min-width: $lg) {
		font-size: 24px
	}
}

h5, .h5 {
	font-size: $fs-xl
}

h6, .h6 {
	font-size: $fs-lg
}

a {
	display: inline-block;
	text-decoration: underline;
	transition: color ease-out $tr;

	&:hover {
		text-decoration: none
	}
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0
	}
}

b, strong {
	font-weight: $fw-bold
}